<head>
	<title>okas</title>
	<link rel=stylesheet type="text/css" href="../style.css">
</head>
<body>

	<h2>homepage for okas</h2>


<pre>
$ LANG=C rpm -qi okas
Name        : okas                         Relocations: (not relocatable)
Version     : 1.5                               Vendor: (none)
Release     : 1.408                         Build Date: Mon 19 Jun 2006 11:00:40 AM EEST
Install Date: Mon 19 Jun 2006 11:01:25 AM EEST      Build Host: hellsgate.online.ee
Group       : Applications/System           Source RPM: okas-1.5-1.408.src.rpm
Size        : 141138                           License: Ask glen@alkohol.ee
Signature   : DSA/SHA1, Mon 19 Jun 2006 11:00:44 AM EEST, Key ID 6f24a37776f19077
URL         : http://glen.alkohol.ee/okas/
Summary     : glen's (and others) vision of nice linux setup
Description :
This package adds some nice scripts, configures your bashrc and vim.
Also adds some XTerm .Xdefaults

This package is signed, you can import the key via:
rpm --import http://glen.alkohol.ee/glen.asc

THESE PROGRAMS COME WITH NO WARRANTY! I'M NOT RESPONSIBLE OF ANY DATA
LOSS CAUSED BY USING THESE SCRIPTS.
</pre>

	<ul>
		<li><a href="dist/okas.rpm">download latest version</a>
		<li><a href="dist/">browse other versions</a>
	</ul>

	Package is available in:
	<ul>
	<li>poldek repostitory
	<li>yum repository
	<li>apt repository
	</ul>

	To add to apt repo, append to <tt>/etc/apt/sources.list</tt> content of <a href="sources.list">sources.list</a>.


	<hr>

	<address>
		&#103;&#108;&#101;&#110;&#64;&#97;&#108;&#107;&#111;&#104;&#111;&#108;&#46;&#101;&#101;
	</address>

</body>
</html>
